{erl_opts, [debug_info]}.

{deps, [
    {yaws, {git, "https://github.com/erlyaws/yaws.git", {branch, "master"}}}
]}.

{shell, [
    %{apps, [yaws, yaws_appmod_router]}
]}.

{profiles, [
    {test, [
        {deps, [
            {meck, "0.9.2"}
        ]},
        {erl_opts, [debug_info]},
        {src_dirs, ["src", "test"]}
    ]}
]}.

{minimum_otp_vsn, "22"}.

{project_app_dirs, ["src", "test", "examples"]}.

{eunit_opts, [
    verbose,
    {report, {eunit_surefire, [{dir, "."}]}}
]}.

{eunit_compile_opts, [
    {src_dirs, ["src", "test", "examples"]}
]}.

%{plugins, [
%    rebar3_eunit
%]}.
